@page
@model TenantPropertyMngt.Pages.Agent.Contractors.IndexModel
@{
}
<h2 class="text-center mb-5">List for Contractors</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" href="/Agent/Contractors/Create">New Contractors</a>
    </div>
    <div class="col">
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="search" value="@Model.search" placeholder="Search by Company or Specialization " aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<table class="table">
    <tr>
      
        <th>Company</th>
        <th>Specialization</th>
        <th>Contact Person</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Action</th>
    </tr>
    @foreach (var contractor in Model.Contractors)
    {
        <tr>
            <td>@contractor.Company</td>
            <td>@contractor.Specialization</td>
            <td>@contractor.FullName</td>
            <td>@contractor.Email</td>
            <td>@contractor.Telephone</td>
            <td>@contractor.Address</td>
            
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" href="/Agent/Contractors/Edit?id= @contractor.ContractorID">Edit</a>
                <a class="btn btn-primary btn-sm" href="/Agent/Contractors/Delete?id=@contractor.ContractorID">Delete</a>
                <a class="btn btn-primary btn-sm" href="/Agent/Contractors/Details?id=@contractor.ContractorID">Details</a>
            </td>
        </tr>
    }
</table>
<nav">
    <ul class="pagination">
@for (int i = 1; i <= Model.totalPages; i++)
{
    string active = "";
    if (i == Model.pageIndex) active = "active";
    {
                <li class="page-item @active" aria-current="page">
                    <a class="page-link" href="?pageIndex=@(i)&search=@(Model.search)">@i</a>
                </li>
    }

}
    </ul>
    </nav>
