@page
@model TenantPropertyMngt.Pages.Agent.Lease.IndexModel
@{
}
<h2 class="text-center mb-5">List for Leases</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" href="/Agent/Lease/Create">New Lease</a>
    </div>
    <div class="col">
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="search" value="@Model.search" placeholder="Search by Type or Name " aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Lease type</th>
        <th>Tenant</th>
        <th>ID/Passport</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Property</th>
        <th>Rent</th>
        <th>Start date</th>
        <th>End Date</th>
        <th>Status</th>  
        <th>Action</th>
    </tr>
    @foreach (var lease in Model.leases)
    {
        <tr>
            <td>@lease.LeaseID</td>
            <td>@lease.LeaseType</td>
            <td>@lease.TenantName</td>
            <td>@lease.IdCard</td>
            <td>@lease.Email</td>
            <td>@lease.Telephone</td>
            <td>@lease.PropertyName</td>
            <td>@lease.Rent</td>
            <td>@lease.StartDate.ToShortDateString()</td>
            <td>@lease.EndDate.ToShortDateString()</td>
            <td>@lease.Status</td>
           

            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" href="/Agent/Lease/Terminate?id=@lease.LeaseID">Terminate</a>
                <a class="btn btn-primary btn-sm" href="/Agent/Lease/Delete?id=@lease.LeaseID">Delete</a>
                <a class="btn btn-primary btn-sm" href="/Agent/Lease/Details?id=@lease.LeaseID">Details</a>
            </td>
        </tr>
    }
</table>

<nav">
    <ul class="pagination">
@for (int i = 1; i <= Model.totalPages; i++)
{
    string active = "";
    if (i == Model.pageIndex) active = "active";
    {
                <li class="page-item @active" aria-current="page">
                    <a class="page-link" href="?pageIndex=@(i)&search=@(Model.search)">@i</a>
                </li>
    }

}
    </ul>
