@page
@model TenantPropertyMngt.Pages.Maintenance.IndexModel
@{
}


<h2 class="text-center mb-5">Maintenance Issues</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" href="Maintenance/Create">New Issue</a>
    </div>
    <div class="col">
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="search" value="@Model.search" placeholder="Search by Title or Address " aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Date Reported</th>
        <th>Property</th>
        <th>Status</th>
        <th>Action</th>
        
        
    </tr>
    @foreach (var issue in Model.maintenanceModel)
    {
        <tr>
            <td>@issue.MaintenanceIssueID</td>
            <td>@issue.IssueTitle</td>
            <td>@issue.IssueDescription</td>
            <td>@issue.DateReported</td>
            <td>@issue.PropertyName</td>
            <td>@issue.Status</td>

            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm" href="/Maintenance/Edit?id=@issue.MaintenanceIssueID">Update</a>
                <a class="btn btn-primary btn-sm" href="/Maintenance/Delete?id=@issue.MaintenanceIssueID">Delete</a>
                <a class="btn btn-primary btn-sm" href="/Maintenance/Details?id=@issue.MaintenanceIssueID">Details</a>
            </td>
        </tr>
    }
</table>

<nav">
    <ul class="pagination">
@for (int i = 1; i <= Model.totalPages; i++)
{
    string active = "";
    if (i == Model.pageIndex) active = "active";
    {
                <li class="page-item @active" aria-current="page">
                    <a class="page-link" href="?pageIndex=@(i)&search=@(Model.search)">@i</a>
                </li>
    }

}
    </ul>
