@page
@model TenantPropertyMngt.Pages.DashboardModel
@{
}

<!-- Include Bootstrap CSS link here -->

<h1>Dashboard</h1>

@if (TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert-warning alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<div class="card">
    <div class="card-body">
        <h2>Welcome @Model.user.FirstName</h2>
        <h2>Property Statistics</h2>
        <p>Number of Properties: @Model.NumberOfProperties</p>
        <p>Occupation Rate: @(Model.OccupationRate)%</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2>Expiring Leases</h2>
        <p>Leases expiring in 60 days: @Model.NearExpiringLeaseCount</p>
        @if (Model.NearExpiringLeases != null && Model.NearExpiringLeases.Any())
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Tenant Name</th>
                            <th>Property Name</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var lease in Model.NearExpiringLeases)
                        {
                            <tr>
                                <td>@lease.TenantName</td>
                                <td>@lease.PropertyName</td>
                                <td>
                                    <a asp-page="./Agent/Lease/Details" asp-route-id="@lease.LeaseID">View Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No near-expiring leases found.</p>
        }
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2>Tenant Information</h2>
        <p>Number of Active Tenants: @Model.ActiveTenantsCount</p>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2>Overdue Payments</h2>
        <p>Overdue Payments count: @Model.OverduePaymentsCount</p>
        @if (Model.OverduePayments != null && Model.OverduePayments.Any())
        {
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Lease ID</th>
                            <th>Property Name</th>
                            <th>Tenant Name</th>
                            <th>Due Date</th>
                            <th>View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var payment in Model.OverduePayments)
                        {
                            <tr>
                                <td>@payment.LeaseID</td>
                                <td>@payment.PropertyName</td>
                                <td>@payment.TenantName</td>
                                <td>@payment.DueDate.ToShortDateString()</td>
                                <td>
                                    <a asp-page="./Agent/Accounts/Details" asp-route-id="@payment.RentPaymentID">View Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No overdue payments at the moment.</p>
        }
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h2>Maintenance Issues</h2>
        <p>Number of Maintenance Issues: @Model.MaintenanceIssuesCount</p>
    </div>
</div>

@if (Model.MaintenanceIssues != null && Model.MaintenanceIssues.Any())
{
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Maintenance Issue ID</th>
                            <th>Issue Title</th>
                            <th>Issue Description</th>
                            <th>Status</th>
                            <th>View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var maintenance in Model.MaintenanceIssues)
                        {
                            <tr>
                                <td>@maintenance.MaintenanceIssueID</td>
                                <td>@maintenance.IssueTitle</td>
                                <td>@maintenance.IssueDescription</td>
                                <td>@maintenance.Status</td>
                                <td>
                                    <a asp-page="./Maintenance/Details" asp-route-id="@maintenance.MaintenanceIssueID">View Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="card">
        <div class="card-body">
            <p>No maintenance issues at the moment.</p>
        </div>
    </div>
}
